body {
   margin: 0;
   padding: 0;
}

nav {
   width: 100%;
   height: 50px;
   background-color: rgb(172, 109, 27);
   position: fixed;
}

ul.menu {
   margin: 7px;
   float: right;
   list-style: none;
}

li {
   float: left;
   padding: 10px 20px;
}

li:hover {
   background-color: black;
}

a {
   color: rgb(0, 0, 0);
   margin-right: 20px;
   text-decoration: none;
}

main.all {
   padding-top: 40px;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
}

header {
   width: 60%;
   height: 20%;
   text-align: center;
   align-self: center;
   padding-bottom: 20px;
   margin-top: 20px;
   margin-bottom: 10px;
}

h1 {
   font-size: 2.3em;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   text-transform: uppercase;
}

h2 {
   font-size: 1.8em;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3 {
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 1.5em;
}

.fontWeight {
   font-weight: lighter;
}

p {
   font-size: 1em;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   width: 40%;
}

section.tresColunas {
   width: 40%;
   padding: 20px;
   display: flex;
   gap: 23px;
}

section.sec {
   padding: 0px 50px;
   width: 100%;
   text-align: justify;
   align-self: center;
   display: flex;
   flex-direction: column;
   align-items: center;
}

section#intro, section#sites, section.site {
   background-color: rgba(190, 124, 38, 0.534);
}

section.site {
   padding: 20px;
   border-radius: 10px;
}

section.site, section.site > p {
   width: 100%;
}

section.site > a {
   text-decoration: underline;
}

a:hover {
   color: white;
}

img {
   padding: 10px;
   width: 40%;
   justify-self: center;
}
p.foto {
   font-size: .8em;
   margin-top: -3px;
}

footer {
   padding-top: 10px;
   text-align: center;
   height: 40px;
   width: 100%;
   background-color: rgb(172, 109, 27);
   color: rgb(0, 0, 0);
   float: left;
}
/*
@media all and (max-width: 768px) {
   #menu {
      visibility: hidden;
   }

   p {
      width: 80%;
   }

   .tresColunas {
      display: block;
      width: 60%;
      padding: 0px;
      margin: 10px auto;
      float: none;
   }
}*/